/* Inter Font - Variable Weight */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/inter-var.woff2') format('woff2');
}

/* Playfair Display - Regular */
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: url('/fonts/playfair-display-bold.woff2') format('woff2');
}